*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #9abbc4, #f8e4d1);
    color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
#nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
#nav > img{
    height: 30px;
    width: 90px;
}
#getapp{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius:10PX ;
    padding: 5px 40px;
}
#getapp img{
    height: 30px;
    width: 30px;
}

#shirt{ 
    position: absolute;
    height: 600px;
    width: 960px;
    left: 12%;
    margin: 0 auto;
    z-index: 5;
}

.shirt-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
}
.shirt-div img{
    height: 30px;
}

#div1{
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 6;
}
#div2{
    position: absolute;
    top: 40%;
    left: 55%;
    z-index: 6;
}
#rating i{
    color: yellow; 
}
#rating{
    margin-top: 200px;
    margin-left: 50px;
    font-size: 30px;
}
#slogan {
    width: 700px;
    font-size: 90px;
    color: white;
    font-weight: bold;
}
#new{
    position: absolute;
    top: 54%;
    z-index: 6;
                      
}
#care{
    position: absolute;
    top: 68%;
    z-index: 6;
}
#for{
    position: absolute;
    top: 81%;
}
#wardrobe{
    position: absolute;
    top: 96%;
    z-index: 6;
}
#clothes img{
    height: 120px;
}
#clothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    position: absolute;
    left: 80%;
    gap: 5px;
    
}
#clothes h3{
    font-size: 35px;
}
#clothes p{
    font-size: 15px;
}

#bottom-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 130%;
    background-color: rgb(15, 24, 24);
    padding: 40px;

    
}

#img-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#img-div p{
    color: white;
    font-size: 25px;
}
#img-div img{
    height: 30px;
    width: 40px;
    border-radius: 5px;

}

#bottom-div button{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
}