*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color:black ;
    color: aliceblue;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
#nav a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
}
#nav > img{
    height: 40px;
    width: 90px;
}
#getapp{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius:10PX ;
    padding: 5px 40px;
}
#getapp img{
    height: 30px;
    width: 30px;
}